/*Header and Footer styles*/
  .header {
    overflow: hidden;
    background-color: #D9EDBF;
    padding: 30px 50px;
  }

  body {
    margin:0px;
    padding: 0px;
  }
  
  .header a {
    float: left;
    color: #2C7865;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
    border-radius: 4px;
  }
  

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
 
  .header a:hover {
    background-color: #F8F6E3;
    color: #496989;
  }
  

  .header a.active {
    background-color: #2C7865;
    color: white;
  }
  
  
  .header-right {
    float: right;
  }
  

  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
 


  .footer { 
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}

  footer {
    background-color: #D9EDBF;
    color: white;
    bottom: 0;
    width: 100vw;
    font-size: 16px;
    font-family:Arial, Helvetica, sans-serif;
  }
  footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 3fr 2fr 4fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }
  h3 {
    width: 100%;
    text-align: left;
    color: #2C7865;
    font-size: 1.4em;
    white-space: nowrap;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  li:not(:first-child) {
    margin-top: 0.8em;
  }
  ul li a {
    color: #2C7865;
    text-decoration: none;
  }
  ul li a:hover {
    color: #2C7865;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input,
  button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #2C7865;
    color: #ffffff;
  }
  div.social {
    display: flex;
    justify-content: space-around;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
  }
  .social i {
    color: #2C7865;
  }
  .copyright {
    padding: 0.3em 1em;
    background-color: #2C7865;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  .footer-menu a{
    color: white;
    padding: 6px;
    text-decoration: none;
  }
  .footer-menu a:hover, .social i:hover{
    color: #2C7865;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
  }
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }

/*Header and Footer styles*/

/*Carousel/Slideshow*/
  * {box-sizing:border-box}


  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  
  .mySlides {
    display: none;
  }
  
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .text-block {
      font-family:Arial, Helvetica, sans-serif;
  }
  
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
/*Slideshow*/

.hr {
  border: 1px solid #2C7865;
}
  
/*Collections*/
  .collections {
      text-align: center;
  }
  
  /* Three image containers (use 25% for four, and 50% for two, etc) */
  .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 columns */
      grid-template-rows: repeat(2, auto); /* 2 rows */
      gap: 5px; /* Reduced gap to bring containers closer together */
      justify-items: center;
      align-items: center;
      padding: 10px;
  }
  
  .column {
      width: 100%;
      max-width: 250px;
  }
  
  
    /* Container needed to position the overlay. Adjust the width as needed */
  .box {
      position: relative;
      width: 250px;
      margin: auto;
    }
   
    /* Make the image to responsive */
  .box img {
      width: 250px;
      height: 250px;
      border: 25px solid #496989;
      border-radius: 25px;
     
    }
   
    /* The overlay effect - lays on top of the container and over the image */
  .overlay {
      position: absolute;
      bottom: 0;
      background: rgb(73, 105, 137);
      background: rgba(73, 105, 137, 0.5); 
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity:0;
      color: white;
      font-size: 20px;
      font-family:Arial, Helvetica, sans-serif;
      padding: 20px;
      text-align: center;
      border-radius: 25px;
    }
   
    /* When you mouse over the container, fade in the overlay title */
  .box:hover .overlay {
      opacity: 1;
    }
/*Collections*/
  
  
/*Why choose us*/
  .about {
      flex: 70%;
      padding: 20px;
      text-align: center;
      font-family:Arial, Helvetica, sans-serif;
      color: rgb(73, 105, 137);
    }
  
  
  
/*Why choose us*/
  
  
/*Reviews*/
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: sans-serif;
  }
  
  .container {
      width: 100%;
      height: 100vh;
      color: rgb(73, 105, 137);
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
  }
  
  h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
      text-align: center;
  }
  
  .description {
      text-align: center;
      width: 43%;
  }
  
  .clientImage {
      display: flex;
      flex-direction: row;
      align-items: center;
  }
  
  .clientImage span {
      margin-left: 10px;
  }
  
  .clientImage img {
      width: 40px;
  }
  
  .reviewSection {
      padding: 1rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
  }
  
  .reviewItem {
      width: 300px;
      padding: 10px;
      margin: 1rem;
      cursor: pointer;
      border-radius: 10px;
      background-color: rgba(73, 105, 137, 0.5);
      border: 1px solid #10102a;
      transition: all .2s linear;
  }
  
  .reviewItem:hover {
      border-color: aqua;
      transform: scale(1.01);
      background-color: #090921;
      box-shadow: 0 0px 5px 0px #cbc0c0;
  }
  
  .top {
      margin-bottom: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
  }
  
  .top ul {
      display: flex;
      list-style: none;
  }
  
  .top ul li {
      padding-left: 4px;
  }
  
  article p {
      font-size: 15px;
      font-weight: 100;
      margin-bottom: 1rem;
      font-family: system-ui;
  }
  
  
  @media screen and (max-width:700px) {
      .container {
          height: auto;
      }
  
      .description {
          width: 90%;
      }
  }
  
  @media screen and (max-width:375px) {
      .reviewSection {
          padding: 0;
      }
  
      .reviewItem {
          width: 100%;
      }
  
      .clientImage {
          margin-bottom: 0.6rem;
      }
  
      .top {
          align-items: center;
          flex-direction: column;
          justify-content: center;
      }
  }
  
/*Reviews*/
  

